<script type="text/x-template" id="post-template">
  <div class="post">
    <article>
      <header class="d-flex">
        <h1 class="flex-item flex-grow-1">$( $data._post.title )</h1>
        <div class="flex-item d-flex align-items-center me-2">
          <span class="badge bg-secondary me-1" v-for="tag in $data._post.tags">
            $( tag )
            <button type="button" @click="removeTag(tag)" v-show="editorVisible" class="btn btn-sm btn-link text-white px-1 text-decoration-none">✕</button>
          </span>
        </div>
        <div class="flex-item d-flex align-items-center" v-bind:class="{ 'd-none': !editorVisible }">
          <input class="form-control" list="datalistTags" placeholder="tag name" @keyup.enter="addTag">
          <datalist id="datalistTags">
            <option v-for="tag in allTags" :value="tag">$( tag )</option>
          </datalist>
        </div>
      </header>
      <div class="d-flex post-content">
        <textarea class="post-editor" name="content" v-show="editorVisible" :value="$data._post.content" @input="update"></textarea>
        <div v-html="compiledMarkdown">
        </div>
      </div>
      <footer class="text-muted">
        Created at 2020-08-01 15:44, updated at 2020-08-01 15:44 UTC+1

        <button type="button" v-show="!editorVisible" class="btn btn-secondary btn-sm" @click="toggleEditor">Edit</button>
        <button type="button" v-show="editorVisible" class="btn btn-danger btn-sm" @click="cancel">Cancel</button>
        <button type="button" v-show="editorVisible" class="btn btn-success btn-sm" @click="save">Save</button>
      </footer>
    </article>
  </div>
</script>
<script src="/static/js/components/editor.js"></script>
