{{ define "header" }}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <title>kbase</title>

  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/custom.css">
  <link rel="stylesheet" href="/static/css/bootstrap-icons.css">

  <script src="/static/js/bootstrap.bundle.min.js"></script>
  <!--<script src="/static/js/jquery-3.6.0.slim.min.js"></script>-->
  <script src="/static/js/htmx-1.8.4.min.js"></script>
</head>

<body>
  <div id="wrapper">
    <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #e3f2fd;">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">kbase</a>
        <svg id="spinner" class="me-2 htmx-indicator" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
          <circle cx="50" cy="50" r="45"/>
        </svg>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="flex-grow-1">
          <form action="/" method="GET" class="d-flex">
            <input class="form-control form-control-sm me-2"
                   name="q" type="search" placeholder="Search" aria-label="Search"
                   autocomplete="off"
                   hx-get="/"
                   hx-trigger="keyup changed delay:150ms, search"
                   hx-target="#main"
                   hx-select="#main"
            >
            <button type="submit" class="btn btn-sm btn-outline-primary me-2">Search</button>
          </form>
        </div>
        <div>
          <div class="input-group">
            <a href="/posts/" role="button" class="btn btn-sm btn-outline-success">New Post</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="container-fluid d-flex flex-grow-1 p-0">
      <aside id="sidebar" class="flex-item me-3 px-3">
        {{ template "_sidebar.html" . }}
      </aside>
      <div id="main" class="flex-item flex-grow-1 d-flex flex-column">
{{ end }}
{{/* Main content goes here */}}
{{ define "footer" }}
      </div>
    </div>
  </div>
</body>
{{ end }}
