{{ define "header" }}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <title>kbase</title>

  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/custom.css">
  <link rel="stylesheet" href="/static/css/bootstrap-icons.css">

  <script src="/static/js/bootstrap.bundle.min.js"></script>
  <script src="/static/js/lodash.js"></script>
  <!--<script src="/static/js/jquery-3.6.0.slim.min.js"></script>
  -->
  <!--<script src="/static/js/vue-2.6.14.js"></script>-->
  <script src="/static/js/vue-3.min.js"></script>
  <script src="/static/js/htmx-1.8.4.min.js"></script>

</head>

<body>
  <div id="app">
    <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #e3f2fd;">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">kbase</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="flex-grow-1">
          <form action="/" method="GET" class="d-flex" id="searchApp">
            <!-- Dynamically update search suggestions using native autocomplete -->
            <datalist id="searchSuggestions">
              <option v-for="s in suggestions" :value="s">
            </datalist>

            <input class="form-control form-control-sm me-2" id="search" name="q" type="search" placeholder="Search" aria-label="Search" list="searchSuggestions" @input="update">
            <button type="submit" class="btn btn-sm btn-outline-primary me-2">Search</button>
          </form>
        </div>
        <div>
          <div class="input-group">
            <a href="/posts/" role="button" class="btn btn-sm btn-outline-success">New Post</a>
          </div>
        </div>
      </div>
    </nav>
    <script>
      /* global Vue */
      /* global _ */
      'use strict'

      Vue.createApp({
        delimiters: ['$(', ')'],
        data: function() {
          return {
            suggestions: [],
          }
        },
        mounted() {
          //this.update()
        },
        methods: {
          updateSuggestions: function() {
            fetch("/api/search", {
                method: "GET",
                headers: {},
              })
              .then((res) => {
                if (res.status !== 200) {
                  return Promise.reject({
                    msg: "failed to get search suggestions",
                    res
                  })
                }
                return res.json()
              })
              .then((posts) => {
                const suggestions = posts.map(p => p.Title)
                this.suggestions.splice(0, this.suggestions.length, ...suggestions)
              })
              .catch((err) => {
                console.error(err)
              })
          },
          update: _.debounce(function() {
            this.updateSuggestions()
          }, 300),
        }
      }).mount('#searchApp')

    </script>

    <div class="container-fluid d-flex mt-3">
      <aside id="sidebar" class="flex-item me-3">
        {{ template "_sidebar.html" . }}
      </aside>
      <div id="main" class="flex-item flex-grow-1">
{{ end }}
{{/* Main content goes here */}}
{{ define "footer" }}
      </div>
    </div>
  </div>
</body>
{{ end }}
