<h2>Folders</h2>

{{ define "posts_tree" }}
<ul class="tree list-unstyled {{ if not .Label }}ps-0{{ else }}ps-2{{ end }}">
  <li>{{ if .Label }}<i class="bi-folder"></i> {{ .Label }}{{ end }}
    {{ range .Children }}
    {{ template "posts_tree" . }}
    {{ end }}

    {{ if .Value }}
    <ul class="list-unstyled ps-1">
      {{ range .Value }}
      <li><i class="bi-file-text"></i> <a hx-target="#main" hx-push-url="true" hx-get="/posts/{{ .ID }}" hx-trigger="click" href="/posts/{{ .ID }}" hx-swap="innerHTML" hx-select="#main">{{ .Title }}</a></li>
      {{ end }}
    </ul>
    {{ end }}
  </li>
</ul>
{{ end }}

{{ template "posts_tree" .PostsTree }}

<h2>Tags</h2>
<ul class="list-unstyled">
  {{ range .AllTags }}
  <li class="badge bg-success"><a href="/?tags={{ . }}">{{ . }}</a></li>
  {{ else }}
  <li>(no tags)</li>
  {{ end }}
</ul>
