<h2>Folders</h2>

{{ define "posts_tree" }}
<ul class="tree {{ if not .Label }}list-unstyled{{ end }}">
  <li>{{ .Label }}
    {{ range .Children }}
    {{ template "posts_tree" . }}
    {{ end }}

    {{ if .Value }}
    <ul>
      {{ range .Value }}
      <li><a href="/posts/{{ .ID }}">{{ .Title }}</a></li>
      {{ end }}
    </ul>
    {{ end }}
  </li>
</ul>
{{ end }}

{{ template "posts_tree" .PostsTree }}

<h2>Tags</h2>
<ul class="list-unstyled">
  {{ range .AllTags }}
  <li class="badge bg-success">{{ . }}</li>
  {{ else }}
  <li>(no tags)</li>
  {{ end }}
</ul>
