{{ template "header" .Globals }}

{{ with .Locals }}

<h1>Posts</h1>
{{ if .ContentQuery | or .TagQuery }}
<p>
  Matching
  {{ if .ContentQuery -}}text <i>{{ .ContentQuery }}</i>{{ end }}
  {{ if .TagQuery -}}with tags {{ range .TagQuery }}<span class="badge bg-primary">{{ . }}</span>{{ end }}{{ end }}
</p>
{{ end }}


{{ range .Posts }}
<div>
  <strong>{{ .CreatedTime.Format "2006-01-02" }}</strong> <a href="/posts/{{ .ID }}" hx-get="/posts/{{ .ID }}" hx-target="#main" hx-select="#main">{{ .Title }}</a>
</div>
{{ else }}
<p>No posts to show.</p>
{{ end }}
{{ end }}

{{ template "footer" .Globals }}
