{{ template "_header.html" }}

<header class="d-flex p-3 bg-dark bg-opacity-25 mb-3">
  <div class="flex-grow-1">
    <h1 class="h4">{{ .Post.Title }}</h1>
    <h2 class="h5 small">Created: {{ .Post.CreatedTime.Format "2006-01-02 15:04:05" }}<br>Last updated: {{ .Post.ModifiedTime.Format "2006-01-02 15:04:05" }} </h2>
    <ul class="list-unstyled">
      {{ range .Tags }}
      <li class="badge bg-success">{{ . }}</li>
      {{ else }}
      <li>(none)</li>
      {{ end }}
    </ul>
  </div>
  <div>
    <a href="/posts/{{ .Post.ID }}/edit" class="btn btn-small btn-outline-dark" role="button">Edit</a>
  </div>
</header>

<div class="container-fluid">
  <article>
    {{ .ContentHTML }}
  </article>
</div>

{{ template "_footer.html" }}
