{{ template "_header.html" }}

<div class="container-fluid mt-3">
  <div id="post" class="post">
    <article>
      <header class="d-flex">
        <span>Title</span>
        <div class="flex-item">
          <input type="text" name="title" v-model="title" @keyup.enter="save">
        </div>

        <!-- Tags -->
        <div class="flex-item d-flex align-items-center me-2">
          <span class="badge bg-secondary me-1" v-for="tag in tags">
            $( tag )
            <button type="button" @click="removeTag(tag)" class="btn btn-sm btn-link text-white px-1 text-decoration-none">✕</button>
          </span>
        </div>
        <div class="flex-item d-flex align-items-center">
          <input class="form-control" list="datalistTags" placeholder="tag name" @keyup.enter="addTag">
          <datalist id="datalistTags">
            <option v-for="tag in allTags" :value="tag">$( tag )</option>
          </datalist>
        </div>

      </header>
      <div class="d-flex post-content">
        <textarea class="post-editor" name="content" v-model="content" @input="update"></textarea>
        <div v-html="contentCompiled">
        </div>
      </div>
      <footer class="text-muted">
        <p>Created at 2020-08-01 15:44, updated at 2020-08-01 15:44 UTC+1</p>
        <button type="button" class="btn btn-success btn-sm" @click="save">Save</button>
      </footer>
    </article>
  </div>
</div>

<script>
  /* global Vue */
  /* global _ */
  /* global DOMPurify */
  /* global marked */
  'use strict'

  Vue.createApp({
    delimiters: ['$(', ')'],
    props: {
      // All previously used tags to help with auto-completion
      allTags: {
        type: Array,
        default: []
      }
    },
    data: function() {
      return {
        title: "{{ .Post.Title }}",
        content: "{{ .Post.Content }}",
        contentCompiled: "",
        tags: [
          {{ range .Post.Tags }} "{{ . }}", {{ end }}
        ],
      }
    },
    mounted() {
      this.update()
    },
    methods: {
      compileMarkdown: function() {
        fetch("/render-markdown", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              Markdown: this.content,
            })
          })
          .then((res) => {
            if (res.status !== 200) {
              return Promise.reject({
                msg: "failed to render markdown",
                res
              })
            }
            return res.text()
          })
          .then((html) => {
            this.contentCompiled = html
          })
          .catch((err) => {
            console.error(err)
          })
      },
      update: _.debounce(function() {
        this.contentCompiled = this.compileMarkdown()
      }, 300),
      addTag: function(e) {
        const tag = e.target.value
        if (this.tags.indexOf(tag) === -1) {
          this.tags.push(tag)
        }
        e.target.value = ''
      },
      removeTag: function(tag) {
        const idx = this.tags.indexOf(tag)
        if (idx > -1) {
          this.tags.splice(idx, 1)
        }
      },
      save: function() {
        fetch(window.location.pathname, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              Title: this.title,
              Content: this.content,
              Tags: this.tags,
            })
          })
          .then((res) => res.json())
          .then((post) => {
            this.postId = post.ID
            const loc = window.location
            window.location.href = loc.protocol + "//" + loc.host + "/posts/" + post.ID
          }).catch((err) => {
            console.error(err)
          })
      }
    }
  }).mount('#post')

</script>

{{ template "_footer.html" }}
