{{ template "header" .Globals }}
{{ $g := .Globals }}

{{ with .Locals }}

<div class="container-fluid my-3 flex-grow-1 bg-black bg-opacity-10">
  {{ if not .IsEditing }}
  <a href="?isEditing">Edit</a>
  {{ end }}
  <form action="/posts/{{ .Post.ID }}" method="post">
    <div>
      <div>
        {{ if .IsEditing }}
        <input class="form-control" type="text" name="title" value="{{ .Post.Title }}" placeholder="Title">
        {{ else }}
        <h1>{{ .Post.Title }}</h1>
        {{ end }}
      </div>

      <!-- Tags -->
      <div>
        {{ if .IsEditing }}
        <input class="form-control"
               name="tags"
               placeholder="tag1,tag2,tag3"
               value="{{ range $i, $tag := .Post.Tags }}{{ if $i }},{{ end }}{{ $tag }}{{ end }}"
               >
        {{ else }}
        <ul class="list-unstyled">
          {{ range .Post.Tags }}
          <li class="badge bg-success"><a href="/?tags={{ . }}">{{ . }}</a></li>
          {{ else }}
          <li>(no tags)</li>
          {{ end }}
        </ul>
        {{ end }}
        <!--
        <input class="form-control" id="tags" list="datalistTags" placeholder="tag">
        <datalist id="datalistTags">
          {{ range $_, $t := $g.AllTags }}
          <option value="{{ $t }}">{{ $t }}</option>
          {{ end }}
        </datalist>-->
      </div>

      <div class="d-flex">
        {{ if .IsEditing }}
        <textarea class="w-50 p-3 me-0 border-1 min-height-50" name="content" hx-post="/render-markdown" hx-trigger="keyup changed delay:250ms" hx-target="#rendered">{{ .Post.Content }}</textarea>
        <div id="rendered" class="w-50 overflow-scroll bg-secondary bg-opacity-25 border-1 min-height-50 p-3">
        </div>
        {{ else }}
        <div id="rendered">
          {{ .Post.ContentHTML }}
        </div>
        {{ end }}
      </div>
      <footer class="text-muted">
        {{ if .Post.ID }}
        <p class="small">Created at {{ .Post.CreatedTime.Format "2006-01-02 15:04:05" }}<br>Updated at {{ .Post.ModifiedTime.Format "2006-01-02 15:04:05" }}</p>
        {{ end }}
        {{ if .IsEditing }}
        <button type="submit" type="submit" class="btn btn-success btn-sm">Save</button>
        {{ end }}
      </footer>
    </div>
  </form>
</div>
{{ end }}

{{ template "footer" .Globals }}
