{{ template "header" .Globals }}

{{ with .Locals }}
<header class="p-3 bg-secondary bg-opacity-25 mb-3">
  <div class="d-flex">
    <h1 class="h4 d-inline-block flex-item flex-grow-1 mb-0">{{ .Post.Title }}</h1>
    <a href="/posts/{{ .Post.ID }}/edit" class="btn btn-sm btn-outline-dark flex-item" role="button">Edit</a>
  </div>
  <div class="text-muted fs-6">
    Created at <span title="{{ .Post.CreatedTime.Format "2006-01-02 15:04:05" }}">{{ .Post.CreatedTime.Format "2006-01-02" }}</span>
    (updated <span title="{{ .Post.ModifiedTime.Format "2006-01-02 15:04:05" }}">{{ .Post.ModifiedTime.Format "2006-01-02" }}</span>)
  </div>
  <ul class="list-unstyled mb-0">
    {{ range .Tags }}
    <li class="badge bg-success">{{ . }}</li>
    {{ else }}
    <li>(none)</li>
    {{ end }}
  </ul>
</header>

<div class="container-fluid">
  <article>
    {{ .ContentHTML }}
  </article>
</div>
{{ end }}

{{ template "footer" .Globals }}
